<!doctype html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous" defer></script>

<title>{% block title %}{% endblock %} - Notes</title>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fs-1" href="/">Notes</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active">{{ user.get_username }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-danger" href="#" data-bs-toggle="modal" data-bs-target="#logout-modal" style="--bs-text-opacity: .9;">Logout</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'create_user' %}">Create Account</a>
                </li>
            {% endif %}
        </ul>
    </div>
  </div>
</nav>
<body>
  <header>
    <div class="container">{% block header %}{% endblock %}</div>
  </header>
    <div class="container">{% block content %}{% endblock %}</div>
</body>


<div class="modal fade bg-danger-subtle bg-opacity-10" id="logout-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Logout?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Do you really want to logout?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
  </div>
</div>
