{% extends "base.html" %}
{% block title %}Create Note{% endblock %}

{% block content %}
    <p class="fs-1">Create New Note</p>
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <div class="container">
        <form method="POST" action="{% url 'create_note' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" required class="form-control" placeholder="Title">
            </div>
            <div class="form-group my-md-3">
                <label for="subject">subject</label>
                <input type="text" name="subject" required class="form-control" placeholder="subject">
            </div>
            <div class="form-group my-md-3">
                <label for="content">Note</label>
                <input type="text" name="content" required class="form-control" placeholder="Note">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="is_public" name="is_public">
                <label class="form-check-label" for="is_public">Is Public?</label>
            </div>
            <input type="submit" value="Create Note" class="btn btn-primary my-md-3">
        </form>
    </div>
{% endblock %}